.comeet {
  padding-top: 9.25rem;
  padding-bottom: 6.75rem; }
  .comeet .comeet__items--main {
    display: flex;
    height: 35rem;
    width: 100%; }
    .comeet .comeet__items--main .comeet__items {
      display: flex;
      gap: 2.625rem;
      justify-content: space-between; }
      .comeet .comeet__items--main .comeet__items .comeet__items--text {
        display: flex;
        flex-direction: column;
        margin-top: -3.125;
        width: 33.125rem;
        gap: 2rem; }
        .comeet .comeet__items--main .comeet__items .comeet__items--text h1 {
          color: #0d0a10;
          font-family: Montserrat;
          font-size: 3rem;
          font-style: normal;
          font-weight: 600;
          line-height: 112.5%;
          /* 54px */ }
        .comeet .comeet__items--main .comeet__items .comeet__items--text p {
          color: #0d0a10;
          font-family: Montserrat;
          font-size: 1.5rem;
          font-style: normal;
          font-weight: 400;
          line-height: 130%;
          /* 31.2px */ }
        .comeet .comeet__items--main .comeet__items .comeet__items--text ul {
          color: #0d0a10;
          font-family: Montserrat;
          font-size: 1.125rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1.75rem;
          /* 155.556% */
          margin-left: -2.5rem; }
        .comeet .comeet__items--main .comeet__items .comeet__items--text button {
          align-self: flex-start;
          border-radius: 0.75rem;
          background: #381df6;
          padding: 0.75rem 2rem;
          border: none;
          width: 10.563rem; }
          .comeet .comeet__items--main .comeet__items .comeet__items--text button a {
            text-decoration: none;
            color: #fff;
            text-align: center;
            font-family: "Montserrat", sans-serif;
            font-size: 1rem;
            font-style: normal;
            font-weight: bold;
            line-height: 1.5rem; }
      .comeet .comeet__items--main .comeet__items .comeet__items--photo {
        margin-left: 2.125rem; }
    .comeet .comeet__items--main .comeet__items--svg {
      position: absolute;
      overflow: hidden;
      right: 0;
      top: 340%; }
