.services-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6.25rem 10.25rem;
  gap: 3rem; }
  .services-main .services-main__text {
    display: flex;
    flex-direction: column;
    width: 40.125rem;
    gap: 1.5rem; }
    .services-main .services-main__text .services-main__text--title {
      color: #0d0a10;
      text-align: center;
      /* H - 48 */
      font-family: Montserrat;
      font-size: 3rem;
      font-style: normal;
      font-weight: 600;
      line-height: 112.5%;
      /* 54px */ }
    .services-main .services-main__text .services-main__text--paragraph {
      color: #0d0a10;
      text-align: center;
      font-family: Montserrat;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 600;
      line-height: 1.75rem;
      /* 155.556% */ }
  .services-main .services-main__photos {
    display: flex;
    height: 19.938rem;
    border: 1px solid black;
    justify-content: center;
    border: 1px solid #ccc;
    display: flex;
    height: 19.938rem;
    border: 1px solid black;
    justify-content: center;
    border: 1px solid #ccc; }
    .services-main .services-main__photos .frame {
      display: flex;
      width: 23.188rem;
      padding: 3rem 3rem 5.063rem 3rem;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.938rem;
      flex-shrink: 0;
      border: 1px solid #ccc; }
      .services-main .services-main__photos .frame .photo {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.938rem; }
        .services-main .services-main__photos .frame .photo .image {
          align-self: flex-start;
          border: 1px solid #ccc;
          border-radius: 0.5rem;
          padding: 0.75rem; }
        .services-main .services-main__photos .frame .photo p {
          align-self: stretch;
          color: #0d0a10;
          font-family: Montserrat;
          font-size: 1.125rem;
          font-style: normal;
          font-weight: 600;
          line-height: 1.75rem;
          /* 155.556% */ }
