@import '../mixins/mixins.scss';

body {
    margin: 0;
}

header {
    box-sizing: border-box;
    display: flex;
    background: #381df6;
}

.navigation-bar {
    display: flex;
  width: 100%;
  padding: 1.75rem 10.25rem;
  justify-content: space-between;
  align-items: center;
}

.navigation-bar__container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3.188rem;
}

.navigation-bar__item {
    display: flex;
    list-style: none;
    width: 100%;
    justify-items: center;
    align-items: center;
    width: 2.813rem;
    height: 1.5rem;

    a {
        color: #fff;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5rem;
        text-decoration: none;
    }
}
  
.logo {
    width: 10.563;
    height: 2.5rem;
    flex-shrink: 0;
}
  
.contactusButton {
    @include navBarBtn;
}

.svg {
    overflow: hidden;
}